@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    font-family: Open sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --paredheader: grey;
    --textoa: #526DFF;
    --nose1: #FF39BE;
    --nose2: #79FF39;
    --nose3: #FFC639;
    --footer:black;
    --anchorfoot:white;
    --boton:rgb(83, 80, 80);
}